<!DOCTYPE HTML>

<html>

<head>
    <title>Signup</title>
</head>

<body>
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css') }}" <div class="container">
    <a href="{{ url_for('index') }}">
        <h1>Gliese Project</h1>
    </a>
    </div>
    <h2>User Login</h2>
    <form method="post" action="/login">
        <input type="text" name="username" id="username" placeholder="Username"><br>
        <input type="password" name="password" id="password" placeholder="Password"><br>
        <button type="submit">submit</button>
    </form>
</body>
</html>