<!DOCTYPE html>

<html lang="en">

<head>
    <title>
        Gliese Project
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
</head>

<body>
    <div class="container">
        <a href="index.html">
            <h1>Gliese Project</h1>
        </a>
        <div class="right-group">
            <button style="width: 250px; font-family: Binary;"><a href="{{ url_for('signup')}}">Sign Up</a></button>
        </div>
    </div>
    <hr>
    <div class="container-left">
        <a href="{{ url_for('planet') }}">
            <h2 class="header-spacing">Planet</h2>
        </a>
        <a href="{{ url_for('project')}}">
            <h2 class="header-spacing">Project</h2>
        </a>
        <a href="{{ url_for('aboutus')}}">
            <h2 class="header-spacing">About Us</h2>
        </a>
    </div>
    <form action="/signup" method="post">
        <h2>Personal Details</h2>
        <input type="text" name="firstName" id="first_name" placeholder="First Name" required />
        <input type="text" name="lastName" id="surname" placeholder="Last Name" required /><br>
        <input type="email" name="email" id="email" placeholder="Email"
            onchange="CompareFields('email', 'email_confirmation',true)" required />
        <input type="email" name="emailConfirm" id="email_confirmation" placeholder="Confirm Email"
            onchange="CompareFields('email', 'email_confirmation',true)" required />
        <p style="font-size: 10px; color: red;" id="emailWarning" hidden>Please ensure emails match.</p>
        <p>Date of Birth: </p><input type="date" name="dateOfBirth" id="dob" placeholder="Date of Birth" required />
        <p>Country of Origin:</p>
        <select id="country" name="country" required>
            <option value="" disabled selected hidden>Select a Country</option>"
            {% for country in countries %}
            <option value="{{ country[0] }}">{{ country[0]}}</option>
            {% endfor %}
        </select>
        <h2>Professional Information</h2>
        <p>Industry:</p>
        <select id="industry" name="industry" required>
            <option value="" disabled selected hidden>Select an Industry</option>
            {% for industry in industries %}
            <option value="{{ industry[0] }}">{{ industry[0] }}</option>
            {% endfor %}
        </select>
        <p>Job Title</p>
        <input type="text" name="job_title" id="job_title" placeholder="Job Title" required>
        <p>Salary (USD)</p>
        <input type="number" name="salary" id="salary" placeholder="Salary" required>
        <br><br>
        <button style="font-family: Binary; font-size: small; text-decoration: none;" type="submit" method="post"
            id="submitButton" disabled>Submit</button>

    </form>

    <script type="text/javascript">
        function CompareFields(f1, f2, caseinsensitive) {
            var val1 = document.getElementById(f1).value;
            var val2 = document.getElementById(f2).value;
            if (caseinsensitive) {
                val1 = val1.toUpperCase();
                val2 = val2.toUpperCase();
            }
            val1 = val1.replace(/^\s*/, "");
            val1 = val1.replace(/\s*$/, "");
            if (val1.length == 0) { return; }
            val2 = val2.replace(/^\s*/, "");
            val2 = val2.replace(/\s*$/, "");
            if (val2.length == 0) { return; }
            if (val1 == val2) { 
                document.getElementById("submitButton").disabled = false;
                document.getElementById("emailWarning").hidden = true;
                return; 
            }
            // An alert box is used for verification failures.
            // The message may be changed as appropriate for your installation.
            // Or, replace alert(...) with your preferred error message system.
            document.getElementById("emailWarning").hidden = false;
            document.getElementById("submitButton").disabled = true;
        }
    </script>






</body>

</html>